<mat-card>
  <mat-card-title>
    Deletar Produto
  </mat-card-title>
  <form>
    <mat-form-field>
      <input matInput placeholder="Nome" disabled [ngModel]="product.name" name="name">
    </mat-form-field>
    <mat-form-field>
      <input matInput placeholder="Preço (R$)" disabled [ngModel]="product.price" name="price">
    </mat-form-field>
  </form>

  <button class="firstButton" mat-raised-button (click)="deleteProduct()" color="warn">Delete</button>
  <button mat-raised-button (click)="cancel()">Cancelar</button>
</mat-card>